#hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 6rem;
    padding-top: 5rem;
    /* overflow-x: hidden; */
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}




#hero-title{

    font-family: BespokenSans-bold;
    font-size: 4.5rem;
}

#hero > p {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: Kalam-regular;
}
