
*{
    margin: 0;
    padding: 0;
   
}



#clear{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(31.5px);
    -webkit-backdrop-filter: blur(31.5px);
}


@font-face{
    font-family:BespokenSans-bold;
    src: url(../../font/BespokeSans_Complete/Fonts/OTF/BespokeSans-Bold.otf);
}
@font-face{
    font-family:Kalam-regular;
    src: url(../../font/Kalam_Complete/Fonts/OTF/Kalam-Regular.otf);
}
